body {
  color: #DA4167;
  background-color: #E6F8B2;
  font-family: 'Nova Mono', monospace;
}

h1, h2, h3 {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 22px;
  margin-left: 30px;
}

h1 {
  font-size: 30px;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 700px;
}
.name {
  font-size: 35px;
}

.header {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
  background-color: #081B6F;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #081B6F;
}

.heading {
  line-height: 1.8;
  letter-spacing: 3px;
}

#avatar {
  width: 200px;
  border-radius: 70px;
  margin: 50px;
}

p {
  font-size: 18px;
  text-align: justify;
}

.btn {
  text-align: center;
  width: 100px;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: 2px solid #252323;
  background-color: #FCB97D;
  color: #252323;
  border-radius: 8px;
  font-size: 1.4em;
}

.btn:hover {
  border: 2px dotted #FCB97D;
  background-color: #252323;
  color: #FCB97D;
}

.card {
  background-color: rgb(242, 255, 204);
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px 40px;
}

#social-links {
  list-style: none;
  text-align: center;
}

/*i {
  font-size: 1000px;
}
*/
li {
  display: inline;
}

#social-links a {
  margin: 0 30px;
  font-size: 30px;
  text-decoration: none;
}

#social-links a:hover {
  font-size: 40px;
  color: #65DEF1;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
